#box-loading{
position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0%;
  z-index: 99;
  width:100%;
  min-height:100%;
  display:block;
  background-color: rgba(0, 0, 0, 0.4);
}
.container {
	width: 100%;
	margin-top : 200px;
	padding : 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none; 
 
}
.say{
	width:100%;
	padding:10px;
	display:block;
	text-align:center;
	margin-left:45px;
	margin-top:-40px;
	color:#51b8e2;
}
.container-box{
	top : 50%;
	padding :10px;
}
.container .part {
  width: 40px;
  height: 40px;
  margin-left: 45px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #51b8e2;
  border-radius: 4px;
  border: 2px solid #fff;
  -webkit-transition: background 100ms linear;
          transition: background 100ms linear;
  -webkit-animation: change 950ms linear infinite;
          animation: change 950ms linear infinite;
}
.container .part:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.container .part:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.container .part:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.container .part:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.container .part:nth-child(5) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.progres{
	display : none;
}

@-webkit-keyframes change {
  0% {
    border-radius: 4px;
  }
  17.5% {
    border-radius: 4px;
  }
  50% {
    border-radius: 100%;
    background: rgba(255,255,255,0.4);
  }
  93.5% {
    border-radius: 4px;
  }
  100% {
    border-radius: 4px;
  }
}
@keyframes change {
  0% {
    border-radius: 4px;
  }
  17.5% {
    border-radius: 4px;
  }
  50% {
    border-radius: 100%;
    background: rgba(255,255,255,0.4);
  }
  93.5% {
    border-radius: 4px;
  }
  100% {
    border-radius: 4px;
  }
}

.spinner {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  display:none;
  
}
.spinner .ball {
  width: 20px;
  height: 20px;
  background-color: rgb(40, 170, 225);
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

p {
  color: rgb(40, 170, 225);
  font-family: sans-serif;
  letter-spacing: 3px;
  font-size: 10px;
}

@-webkit-keyframes motion {
  0% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  25% {
    -webkit-transform: translateX(-50px) scale(0.3);
            transform: translateX(-50px) scale(0.3);
  }
  50% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  75% {
    -webkit-transform: translateX(50px) scale(0.3);
            transform: translateX(50px) scale(0.3);
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@keyframes motion {
  0% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  25% {
    -webkit-transform: translateX(-50px) scale(0.3);
            transform: translateX(-50px) scale(0.3);
  }
  50% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  75% {
    -webkit-transform: translateX(50px) scale(0.3);
            transform: translateX(50px) scale(0.3);
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}
