.bg_table{
	background: #68dff0 none repeat scroll 0 0;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 2px 1px;
}
.bg_table table{
	border-collapse: separate;
    border-spacing: 0;
    clear: both;
    margin: 0 auto;
    width: 100%;
}
.bg_table table thead th,.bg_table table thead td {
    border-bottom: 1px solid #51b8e2;
    font-weight: bold;
    padding: 10px 10px;
}
.bg_table table tbody th,.bg_table table tbody td {
    padding: 6px 10px;
}
.bg_table table tfoot th, .bg_table table tfoot td {
    margin : 0;
	padding-top:5px;
	
	border-top : #51b8e2 solid 1px;
}
.bg_table table tbody tr:nth-child(odd) td{
    background: #f9f9f9;
}
.bg_table table tbody tr {
    background-color: #ffffff;
}
.bg_table .pagination{
	margin : 0 ;
	padding : 0 !important	
}
.tdMinimal{
	height:300px;
}